version: "3.8"

services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: uangkas-backoffice
    ports:
      - "8080:80"
    environment:
      - VITE_API_BASE_URL=${VITE_API_BASE_URL:-http://144.126.230.234:8081/api}
    restart: unless-stopped
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
